<!DOCTYPE html>
<html lang="en">
<body>
<!--- <p style="color: green"><%= notice %></p> --->
<div class="d-flex w-75" id="back-banner">
<div class="div-centered container-md" id="content">
<h1 id="page-title">Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<a class="button" href="projects#new">Create New Project</a>
<%= link_to "New project", new_project_path %>
</div>
</div>
</body>
</html>

