<!DOCTYPE html>
<html lang="en">
<body>
<div class="d-flex w-75" id="back-banner">
<div class="div-centered container-md" id="content">
  <h1 id="page-title">New Project</h1>
  <div id="form">
  <%= render "form", project: @project %>
  </div>
  <br>

  <a class="button" href="../">Back to projects</a>
  <!--- <%= link_to "Back to projects", root_path %> --->
</div>
</div>
</body>
</html>